/* ABOUT ME */


.body.aboutme4 {
    background-color: #f0ede4;
    display: flex;
    justify-content: center;
    align-items: center;      /* centre la page (bloc about me) au milieu de l’écran */
    min-height: 100vh;
    font-family: sans-serif;
}

/* Cadre principal */
.main-container4 {
    border: 1px solid black;
    padding: 131px;
    box-sizing: border-box;
}


/* Bloc du titre */
.main-title4 {
    border: 1px solid black;
    color: #8b3a3a;
    font-size: 6rem;
    letter-spacing: 20px;
    padding: 30px 40px;
    text-align: center;
   margin-inline: 90px;
   margin-top: -107px;
}

/* Flèche retour à droite */
.back-btn-box4 {
    border: 1px solid black;
    font-size: 2.2rem;
    padding: 5px 18px;
    cursor: pointer;
    margin-left: 1383px;
    margin-top: -171px;
    margin-right: -75px;
    padding-inline: 22px;
    margin-bottom: 191px;
}

/* Deux colonnes */
.content-flex4 {
    display: flex;
    gap: 30px;
    min-height: 420px;
    margin-top: 20px;
}

.left-column4,
.right-column4 {
    border: 1px solid black;
    flex: 1;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Carte Bio */
.bio-card4 {
    background-color: #5f667e;
    color: white;
    border-radius: 40px;
    padding: 45px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7;
    flex: 1;
}

/* Section Parcours */
.title-box4 {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px 0;
}

.sub-title4 {
    font-size: 2.7rem;
    letter-spacing: 6px;
    margin: 0;
}

.timeline-container4{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px;
    flex: 1;
    box-sizing: border-box;
}

/* Ligne de parcours */
.timeline-item4 {
    border: 1px solid black;
    background-color: #e8e4d9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.icon-box4 {
    background-color: #5f667e;
    color: #8b3a3a;
    font-weight: bold;
    min-width: 65px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.text-box4 p {
    margin: 0;
    font-size: 0.95rem;
}

.highlight4{
    color: #8b3a3a;
    font-size: 0.85rem;
}