/* DEVOIR TP GAMER */

.body .devoirTPgamer22 {
    background-color: #f1ede4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

/* Grand conteneur principal */
.main-outer-container22 {
    border: 1px solid black;
    width: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Section contenant les deux images */
.visuals-grid22 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.visual-item22 {
    border: 1px solid black;
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual-item22 img {
    width: 100%;
    height: auto;
    display: block;
}

/* Section du lecteur de contrôle */
.media-footer22 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.controls-container22 {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    gap: 40px;
}

/* Style des boutons (Rouge brique) */
.nav-arrow22, .pause-icon22 {
    color: #8b3a3a;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
}

.pause-icon22 {
    font-size: 50px;
}

/* Séparateurs verticaux entre les boutons */
.divider22 {
    border-left: 2px solid #8b3a3a;
    height: 50px;
}